* {
  scroll-behavior: smooth;
}

:root {
  --bgcontent: #fcb9b2;
  --section-head: "Satisfy", cursive;
  --basetxtclr: #8c2f39;
  --bgmain: #f7e1d7;
}

body {
  background-color: var(--bgmain);
  font-family: "Solway", serif;
  margin: 0 15%;
}

header {
  position: fixed; 
  top: 0;
  margin: auto;
  text-align: left;
  background-color: var(--bgmain);
}

main {
  /* background-color: pink; */
  margin-top: 10%;
}

footer {
}

hr {
  margin: 0;
  width: 45%;
  border: 0;
  height: 2px;
  /* color: ; */
  background-image: -webkit-linear-gradient(left, #b23a48, #fcb9b2);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

a {
  text-decoration: none;
  color: var(--basetxtclr);
}

ul {
  list-style: none;
}

#container {
  margin-left: 480px;
  display: flex;
  flex-wrap: wrap;
}

#sidebar {
  position: fixed;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

#sidebar img {
  border-radius: 100%;
}

.card {
  text-align: justify;
  padding: 2% 3%;
  border: 3px solid var(--bgcontent);
  border-radius: 5px;
  background-color: var(--bgcontent);
  color: var(--basetxtclr);
  width: 100%;
  margin: 1%;
}

.card-title {
  text-align: left;
  margin: 0;
  font-family: var(--section-head);
  font-size: 40px;
  padding-left: 0.25em;
}

.card-body {
  margin-top: 10px;
  line-height: 1.2em;
}

#contact > ul {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding-left: 0;
  font-size: larger;
  margin: 3% 2% 2% 0;
}

.sub-title {
  font-family: var(--section-head);
  font-size: xx-large;
  margin: 2%;
}

/* #spotlight {
  background-image: url(./imgs/runbuddy-screenshot.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 500px;
}

#spotlight:hover {
  opacity: 50%;
} */

#spotlight {
  position: relative;
}

.project-content {
  position: absolute;
  top: 15%;
  width: auto;
  text-align: center;
  display: none;
}

#spotlight > img {
  width: 100%;
}

#spotlight:hover img {
  opacity: 0.5;
}

#spotlight:hover .project-content {
  display: block;
}



/* .soon {
  display: flex;
  flex-wrap: wrap;
  height: 45%;
  width: 45%;
  justify-content: 
} */

/* .sub-content {
  position: absolute;
  top: 15%;
} */