* {
  scroll-behavior: smooth;
}

:root {
  --bgcontent: rgba(183, 206, 206, 0.5);
  /* --bgcontent: #b7cece; */
  --section-head: "Satisfy", cursive;
  --basetxtclr: #1c0f13;
  --bgmain: #e2e2e2;
  --contenttxt: "Solway", serif;
}

body {
  background-color: var(--bgmain);
  font-family: var(--contenttxt);
  margin: 0 10%;
  color: var(--basetxtclr);
}

header {
  position: fixed;
  top: 0;
  margin: auto;
  text-align: left;
  background-color: var(--bgmain);
  font-family: var(--section-head);
  font-size: x-large;
}

main {
  margin-top: 10%;
}

footer {
  margin: 5%;
}

hr {
  margin: 0;
  width: 45%;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #1c0f13, #b7cece);
  background-image: -moz-linear-gradient(left, #1c0f13, #b7cece);
  background-image: -ms-linear-gradient(left, #1c0f13, #b7cece);
  background-image: -o-linear-gradient(left, #1c0f13, #b7cece);
}

a {
  text-decoration: none;
  color: var(--basetxtclr);
}

ul {
  list-style: none;
  padding: 0%;
}

button {
  background-color: rgba(204, 213, 174, 0.75);
  border: none;
  font-size: large;
  font-family: var(--contenttxt);
  border-radius: 5px;
  cursor: pointer;
  color: var(--basetxtclr);
}

#container {
  margin-left: 480px;
  display: flex;
  flex-wrap: wrap;
}

#sidebar {
  position: fixed;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

#sidebar img {
  border-radius: 25%;
  border: 5px solid #b7cece ;
  filter: grayscale(25%);
}

nav > ul {
  font-family: var(--section-head);
  font-size: xx-large;
  font-weight: 800;
}

nav > ul > li {
  background-color: var(--bgcontent);
  margin-bottom: 1%;
  border-radius: 50px;
  border: #b7cece solid;
}

.card {
  text-align: justify;
  padding: 2% 3%;
  border: 3px solid var(--bgcontent);
  border-radius: 15px;
  background-color: var(--bgcontent);
  color: var(--basetxtclr);
  width: 100%;
  margin: 1%;
}

.card-title {
  text-align: left;
  margin: 0;
  font-family: var(--section-head);
  font-size: 40px;
  padding-left: 0.25em;
}

.card-body {
  margin-top: 10px;
  line-height: 1.2em;
}

#contact > ul {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding-left: 0;
  font-size: larger;
  margin: 3% 2% 2% 0;
}

.sub-title {
  font-family: var(--section-head);
  font-size: xx-large;
  margin: 2%;
}

/* css for project section */

#projects {
  margin-bottom: 5%;
}

#spotlight {
  position: relative;
  margin: 1% 0.5%;
}

#spotlight > .project-content {
  margin-top: 0;
}

.project-effect {
  background-color: var(--basetxtclr);
  border-radius: 5px;
}

.project-effect > img {
  width: 100%;
  border-radius: 5px;
  display: block;
}

.soon {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sub-project {
  position: relative;
  margin: 1%;
}

/* hover effects */

.project-effect:hover img {
  opacity: 0.25;
}

.project-effect:hover .project-content {
  display: block;
  transition: all 200ms linear;
}

.project-content {
  position: absolute;
  top: 5%;
  width: auto;
  text-align: center;
  display: none;
  margin: 5%;
  color: var(--bgmain);
  box-sizing: border-box;
}

/* Media Queries */
/* screen size 1200px */
@media screen and (max-width: 1200px) {
  header {
    position: relative;
    text-align: center;
  }

  h1 {
    margin-bottom: 0;
  }

  main {
    margin-top: 0;
  }

  #container {
    margin-left: 0;
  }

  #sidebar {
    position: relative;
  }
  /* made it so text will be more responsive/dynamic to fit container. */
  .project-content > .sub-title {
    font-size: 3vw;
  }

  .project-content > .card-body,
  button {
    font-size: 2vw;
  }
}
/* another media query for even smaller screen :) I have got this */
@media screen and (max-width: 575px) {
  .card-title {
    font-size: 7vw;
  }

  .soon {
    grid-template-columns: 1fr;
  }
  .project-content {
    display: block;
    color: var(--basetxtclr);
  }

  .project-effect {
    background-color: var(--bgcontent);
    display: flex;
  }

  .project-effect:hover img {
    opacity: 1;
  }

  #spotlight > img {
    height: 50%;
  }
  
  #spotlight {
    display: flex;
    flex-wrap: wrap;
  }

  #spotlight > .project-content {
    position: relative;
    float: left;
  }

  .sub-project > img{
    width: 50%;
    height: auto;
  }

  .sub-project > .project-content {
    position: relative;
  }

  #contact > ul {
    font-size: 3vw;
    text-align: center;
  }
}